input {
  border-radius: 5px;
  font-weight: 600;
  width: 40vw;
  height: 40px;
  font-size: 16px;
  font-family: 'Roboto';
  padding-left: 10px;
  float: left;
  margin-bottom: 25px;
  border-width: 0px;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slider-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  flex: 1;
  align-items: center;
}

.slider-value {
  background-color: inherit;
  border-width: 0px;
  color: white;
  font-size: larger;
  margin: 0px auto auto 20px;
  width: 10%;
  text-align: center;
}